import java.time.*

Date now = new Date()

params {
  day = now.format("yyyMMdd")
  outdir = "processed_results_${day}"
  run_preseq = false
  run_saturation = false
}

process {
  container = "file://${projectDir}/images/test-s.sif"
}

singularity {
  enabled = true
  cacheDir = "${projectDir}/images/"
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}
