import java.time.*

Date now = new Date()

params {
    day = now.format("yyyMMdd")

    outdir = null
    publish_dir_mode = "copy"

    threads = 1

    // Required inputs
    input = null
    fasta = null
    gtf   = null

    bwa_index   = null
    blacklist   = null
    keep_mito   = false
    read_length = 200

    // Trimming options
    skip_trimming       = false
    clip_r1             = null
    clip_r2             = null
    three_prime_clip_r1 = null
    three_prime_clip_r2 = null
    trim_nextseq        = null
    save_trimmed        = false
    min_trimmed_reads   = 10000

    methylqa_cutoff = 38

    skip_preseq     = false
    skip_saturation = false

    narrow_peak     = true
    broad_cutoff    = null
    macs_gsize      = null
    macs_pvalue     = null
    macs_fdr        = null

    save_reference  = true

    // MultiQC options
    multiqc_config              = null
    multiqc_title               = null
    multiqc_logo                = null
    max_multiqc_email_size      = '25.MB'
    multiqc_methods_description = null
}

process {
  container = "/home/tianyi/singularity-images/aiap-test.sif"
}

singularity {
  enabled = true
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}

// Clean up the work directory after a successful run
cleanup = false

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
}

includeConfig "conf/base.config"
includeConfig "conf/modules.config"

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == "cpus") {
        try {
            return Math.min( obj, params.threads as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.threads}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == "memory") {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == "time") {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
