import java.time.*

Date now = new Date()

params {
    day = now.format("yyyMMdd")

    outdir = "processed_results_${day}"
    publish_dir_mode = "copy"

    samplesheet     = null

    fasta           = null
    bwa_index       = null
    blacklist       = null
    keep_mito       = false
    read_length     = 200

    methylqa_cutoff = 38

    skip_preseq     = false
    skip_saturation = false

    narrow_peak     = true
    broad_cutoff    = null
    macs_gsize      = null
    macs_pvalue     = null
    macs_fdr        = null

    save_reference  = true
}

process {
  container = "/home/tianyi/singularity-images/aiap-test.sif"
}

singularity {
  enabled = true
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}

// Clean up the work directory after a successful run
cleanup = false

includeConfig "conf/modules.config"
