process {

    withName: "GETCHROMSIZES" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: "TRIMGALORE" {
        ext.args = {
            [
                "--fastqc",
                params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : "",
                params.clip_r1 > 0 ? "--clip_r1 ${params.clip_r1}" : "",
                params.clip_r2 > 0 ? "--clip_r2 ${params.clip_r2}" : "",
                params.three_prime_clip_r1 > 0 ? "--three_prime_clip_r1 ${params.three_prime_clip_r1}" : "",
                params.three_prime_clip_r2 > 0 ? "--three_prime_clip_r2 ${params.three_prime_clip_r2}" : ""
            ].join(" ").trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ],
            [
                path: { "${params.outdir}/trimgalore/fastqc/zips" },
                mode: params.publish_dir_mode,
                pattern: "*.{zip}"
            ],
            [
                path: { "${params.outdir}/trimgalore/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                // enabled: params.save_trimmed
            ]
        ]
    }

    withName: "BWA_MEM" {
        ext.args = {
            [
              "-v 1"
            ].join(" ").trim()
        }
        ext.args2 = "-O BAM"
        ext.prefix = { 
            !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bwa/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: true
        ]
    }

    withName: "METHYLQA_ATAC" {
        ext.args = { "-X ${params.methylqa_cutoff}" }
        ext.prefix = { 
            !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methylQA" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
        ]
    }

    withName: "MACS2_CALLPEAK" {
        ext.args = [
            "--keep-dup 1000",
            "--nomodel",
            "--shift 0",
            "--extsize 150",
            params.narrow_peak      ? "" : "--broad --broad-cutoff ${params.broad_cutoff}",
            params.macs_pvalue      ? "--pvalue ${params.macs_pvalue}" : "",
            params.macs_fdr         ? "--qvalue ${params.macs_fdr}" : "--qvalue 0.01"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}.mLb.clN" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/macs/${params.narrow_peak ? '/narrow_peak' : '/broad_peak'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "COMPUTE_RUPR" {
        ext.args = { "-f 0.5 -u" }
    }

    withName: "MULTIQC" {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
        ]
    }
}

if (!params.skip_preseq) {
    process {
        withName: "PRESEQ_LCEXTRAP" {
            ext.args   = '-verbose -bam -seed 1'
            ext.prefix = {
                !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
            }
            // ext.prefix = { "${meta.id}.mLb.mkD" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/bwa/preseq" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
            ]
        }
    }
}
