process {

    withName: "GETCHROMSIZES" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: "CUTADAPT" {
        ext.args = {
            def args = [
                "-q 15,10",
                "-a CTGTCTCTTATACACATCT"
            ]
            if (meta.single_end) {
                args += [ "-m 36" ]
            } else {
                args += [
                    "-A CTGTCTCTTATACACATCT",
                    "-m 36:36"
                ]
            }
            return args.join(" ").trim()
        }

    }

    withName: "FASTQC" {
        ext.args = "--quiet"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ],
            [
                path: { "${params.outdir}/${meta.id}/fastqc/zips" },
                mode: params.publish_dir_mode,
                pattern: "*.{zip}"
            ]
        ]
    }

    withName: "BWA_MEM" {
        ext.args = {
            [
              "-v 1"
            ].join(" ").trim()
        }
        ext.args2 = "-O BAM"
        ext.prefix = { 
            !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bwa/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
            enabled: true
        ]
    }

    withName: "METHYLQA_ATAC" {
        ext.args = { "-X ${params.methylqa_cutoff}" }
        ext.prefix = { 
            !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methylQA" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
        ]
    }

    withName: "MACS3_CALLPEAK" {
        ext.args = [
            "--keep-dup 1000",
            "--nomodel",
            "--shift 0",
            "--extsize 150",
            params.narrow_peak      ? "" : "--broad --broad-cutoff ${params.broad_cutoff}",
            params.macs_pvalue      ? "--pvalue ${params.macs_pvalue}" : "",
            params.macs_fdr         ? "--qvalue ${params.macs_fdr}" : "--qvalue 0.01"
        ].join(" ").trim()
        ext.prefix = { "${meta.id}.mLb.clN" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/macs3/${params.narrow_peak ? '/narrow_peak' : '/broad_peak'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "COMPUTE_RUPR" {
        ext.args = { "-f 0.5 -u" }
    }
}

if (!params.skip_preseq) {
    process {
        withName: "PRESEQ_LCEXTRAP" {
            ext.args   = '-verbose -bam -seed 1'
            ext.prefix = {
                !meta.cc ? "${meta.id}" : "${meta.id}.${meta.case ? 'case' : 'ctrl'}"
            }
            // ext.prefix = { "${meta.id}.mLb.mkD" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/bwa/preseq" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
            ]
        }
    }
}
